 table {
            background-color: yellow;
            border-collapse: collapse;
        }
        caption {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        th, td {
            border: 1px solid black;
            padding: 3px;
            /* text-align: center; */
        }
        th {
            background-color: #f2f2f2;
        }