 table {
            background-color: yellow;
            /* border-collapse: collapse; */
        }
        caption {
            font-weight: bold;
            /* margin-bottom: 10px; */
        }
        table,th,tr, td {
            border: 1px solid black;
            /* text-align: center; */
        }
        /* th {
            background-color: #f2f2f2;
        } */